extends ../base
block content
  include ../content
    block emailBody
      p Hi there!
      p We had a problem creating your soundwave video.
      p Please try to re-upload the audio or try a different file format.
      p If you keep receiving this email after a few tries, please contact support with your files attached for samples.
      p Folks at Soundwise
