extends ../base
block content
  include ../content
    block emailBody
      p Hi there!
      p We had a problem creating your soundwave video.
      p Please try to re-upload the audio clip and image.
      p If you keep receiving this email after a few tries, please contact support.
      p Folks at Soundwise
