div(style='font-size:11px;color:#888888;font-family:sans-serif;')
  | You're getting this email because you have subscribed or have been invited to subscribe to an audio program on Soundwise. Click&nbsp;
  a(href='[UNSUBSCRIBE]') unsubscribe
  | &nbsp;to stop receiving our emails. Thank you!
br
